<h3 class="green-text text-green darken-3" >Create Pizza Parlours<h3>

<form action="/pizza-parlours" method="post">
    <div class="input-field">   
        <input type="text" name="pizza_parlour[name]" id="name">
        <label for="title">Name</label>
    <div>
    <div class="input-field">   
        <textarea id="description" class="materialize-textarea" name="pizza_parlour[description]"></textarea>
        <label for="description">Description</label>
    <div>

    
    <input type="submit" value="Create Pizza Parlour" class="btn green darken-3">
</form>

